{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <p>By {{ post.author }}</p>
    <p>Published on {{ post.published_date|date:"F j, Y" }}</p>
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width:100%;">
    {% endif %}
    <p>{{ post.content }}</p>
    <a href="{% url 'delete_post' post.id %}">Delete Post</a><br><br>
    <a href="{% url 'post_list' %}">Back to all posts</a>
{% endblock %}